* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
    transition: all 0.3s ease-in;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    background-color:hsl(0, 0%, 100%);
}

/*Desktop Nav*/
header {
    background-color: hsl(0,0%,100%);  
    position: fixed;
    width: 100%;
    transition: all 0.3s ease-in;
}

nav,
.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    
}

.logo {
    display: inline;
    color: hsl(0, 0%, 30%);
    position: relative;
    font-weight: 900;
    font-size: 1.5rem;

}

.nav-links, .menulinks  {
    list-style-type: none;
}

.nav-links li{
    display: inline-block;
    
}
.nav-links a{
    margin: 10px 30px;
    text-decoration: none;
    color: hsl(0, 0%, 30%);
    font-weight: 600;
    transition: all 0.3s ease-in;
}

.nav-links a:hover {
    transition: 300ms ease-in-out;
    color: hsl(0, 6%, 7%);
    background-color:hsl(150, 80%, 70%);
    border: hsl(150, 60%, 40%) 1px solid;
    padding: 10px;
    border-radius: 40px;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.nav-links .active {
    color: hsl(0, 6%, 7%);
    background-color: hsl(150, 80%, 70%);
    padding: 10px;
    border-radius: 40px;
}

/*Hamburger Nav */
.hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

/* For the hamburger lines */
.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: lime;
    transition: all 0.3s ease-in-out;
}

.menulinks {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.menulinks a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

   
}

.menulinks li {
    list-style: none;
    position: relative;
}

.menulinks.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg);
    translate: 10px 15px;
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg);
    translate: 10px -15px;
}

 .hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
} 

/* Hero Section */
.hero {
    display: flex;
    justify-content: center;
    gap: 10rem;
    padding-top: 5rem;
}

.hero-image img{
    width: 89vh;
}

.hero .hero-text {
    align-content: center;
    max-width: 25rem;
}

.main-text, .code-emphasis, .main-text {
    font-size: 36px;
    display: inline;
    font-family: 'Outfit', sans-serif;
}

.code-emphasis {
    transition: 1s ease-out;
    color: green;
}

/* Get Started btn*/
.btn-container a{
    text-decoration: none;
    font-weight: 700;
    font-family: inherit;
    color: hsl(150, 40%, 30%);
}

.btn-container {
    width: 120px;
    height: 50px;
    background-color: hsl(150, 71%, 57%);
    text-align: center;
    align-content: center;
    border-radius: 5px;
    margin: 1rem 0;
}


/*Pricing section*/
.pricing {
    width: 96%;
    max-width: 1128px;
    margin: 0 auto;
}

.pricingItem__container {
    padding: 1rem 0 2rem;
    
}

.pricing__hero {
    text-align: center;
    padding: 5rem 0 4.5rem;
    line-height: 1.21;
}

.pricing__hero__title {
    font-weight: 900;
    font-size: 2rem;
    margin: 0 0 1rem 0;
    color: hsl(0, 0%, 40%);
}

.pricing__hero__subtitle {
    margin: 0;
}

.pricingItem {
    width: 500px;
    background-color: hsl(0,0%,100%);
    border: 1px solid #e6e6e6;
    border-radius: 1rem;
    box-shadow: none;
    margin: 0 auto;
    padding: 2rem 1.5rem;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0px 2px 7px hsl(0, 0%, 80%);
    transition: all 0.3s ease-in-out;
    color: hsl(0, 0%, 40%);
}

.pricingItem:hover {  
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 7px 10px hsl(0, 0%, 40%);
}


.pricingItem__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5em;
}

.card__description {
    line-height: 1.5;
    font-size: 15px;
    margin: 2rem 0;
    color: hsl(0, 0%, 40%);
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.price span {
    font-weight: 200;
    font-size: 15px;
}

.free {
    color: hsl(105, 71%, 57%);
}

.gold {
    color: hsl(55, 87%, 41%); 
}

.pro {
    color: hsl(271, 75%, 45%);
}

button {
    padding: 1rem 1.5rem;
    margin: 20px auto;
    width: 100%;
    border: 0;
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.button:hover {
    transform: translateY(-2px);
     
}

.btn-green {
    background-color: hsl(105, 71%, 68%);
    color: hsl(138, 92%, 29%);
    font-weight: 700;
}

.btn-green:hover {
    box-shadow: 0px 6px 10px hsl(150, 40%, 30%);
}

.btn-gold {
    background-color: hsl(55, 90%, 80%); 
    color: hsl(30, 80%, 40%);  
}

.btn-gold:hover {
    box-shadow: 0px 6px 10px hsl(55, 60%, 30%);
}

.btn-purple {
    background-color: hsl(270, 60%, 90%);
    color: hsl(315, 80%, 40%)
}

.btn-purple:hover {
    box-shadow: 0px 6px 10px hsl(315, 40%, 30%);
}

ul {
    line-height: 2;
    list-style-type: none;
}

del {
    color: red;
}

/*Who are we section*/

.aboutUs {
    display: grid;
    transition: all 1s ease-in;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    height: 100vh;
    font-size: 20px;
}


.whoAreWe, .vision {
    width: 500px;
    margin: 0 auto;
    align-content: center;
}

.whoAreWe, .vision {
    max-width: 80vh;
}

.border-container {
    border: hsl(150, 60%, 40%) 2px solid;
    padding: 70px;
    border-radius: 20px;
}









